<table align="center" border="0" cellpadding="0" cellspacing="0" width="700">

  <tbody>

    <tr>

      <td align="center" style="width:600px;border:2px solid #cccccc">

        <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">

          <tbody>

            <tr height="230">

              <td style="font-size:0px;background-color:#fff" width="277">

                &nbsp;

              </td>

			  <td style="font-size:0px" width="144">

                <div><img src="sftp://root@139.59.71.150/var/www/bebamzigo/server/logo/logo.png" alt="image.png" width="150" style="margin-right:0px" data-image-whitelisted="" class="CToWUd"><br></div></td>

			  <td style="font-size:0px;background-color:#fff" width="279">

                &nbsp;

              </td>

            </tr>

          </tbody>

        </table>

        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="700">

          <tbody>

            <tr bgcolor="#fff" height="10">


            </tr>

            <tr bgcolor="#cecdcd" height="80">

              <td width="700">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:26px;color:#222;text-align:center; font-weight:600;padding:0px 55px;">

                  INVOICE</div>

              </td>

            </tr>

	

			</tbody>

			</table>

			<u></u>

<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="700">

          <tbody>

 <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank"><b>JOB TITLE</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.title%><br></div>

              </td>

            </tr>



            <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank"><b>VEHICLE REG</b></div>

              </td>

			  <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

			  <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

			  <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.vehicleNumber%><br></div>

              </td>

            </tr>
          <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank" ><b>VEHICLE TYPE</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.typeOfVehicle%><br></div>

              </td>

            </tr>
            <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank"><b>DRIVER</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.driverName%><br></div>

              </td>

            </tr>
            <tr bgcolor="#f1f1f1" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank"><b>PICKUP LOCATION</b></div>

              </td>

        <td width="0">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="0" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="352" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.pickupLocation%><br></div>

              </td>

            </tr>
            <tr bgcolor="#f1f1f1" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank"><b>DESTINATION LOCATION </b></div>

              </td>

        <td width="0">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="0" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="352" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.destLocation%><br></div>

              </td>

            </tr>
            <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank" ><b>TRIP TIME</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.jobStartDate%><br></div>

              </td>

            </tr>
            <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank" ><b>TRIP COST</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.netPrice%><br></div>

              </td>

            </tr>
            <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank" ><b>STANDARD CHARGE</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.budget%><br></div>

              </td>

            </tr>
            <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank"><b>TRIP DISTANCE</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.distance%><br></div>

              </td>

            </tr>
            <tr bgcolor="#fff" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#000;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#000" target="_blank"><b>JOB TYPE</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center;border-bottom:1px solid #f5f5f5"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#000;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.typeOfJob%><br></div>

              </td>

            </tr>
<tr bgcolor="#222" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#f1f1f1;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#f1f1f1" target="_blank" ><b>SUB TOTAL</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:center;border-bottom:1px solid #f5f5f5;line-height: 55px;"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.subTotal%><br></div>

              </td>

            </tr>

<tr bgcolor="#222" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#f1f1f1;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#f1f1f1" target="_blank"><b>COMMISION</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:center;border-bottom:1px solid #f5f5f5;line-height: 55px;"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.commission%><br></div>

              </td>

            </tr>
<tr bgcolor="#222" height="56">

              <td width="298" style="padding-left:25px;border-left:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif ;font-size:14px;color:#f1f1f1;text-align:left;padding-left:15px">

                  <a href="" rel="nofollow" style="text-decoration:none;color:#f1f1f1" target="_blank"><b>TOTAL</b></div>

              </td>

        <td width="149">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:center;border-bottom:1px solid #f5f5f5; line-height: 55px;"><br>

                </div>

              </td>

        <td width="108" style="border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:center">

                </div>

              </td>

        <td width="145" style="padding-left:25px;border-right:1px solid #fff;border-bottom:1px solid #f5f5f5">

                <div style="font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:14px;color:#f1f1f1;text-align:left"><span style="color:rgb(34,34,34);font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;font-size:16px"></span><%=bill.total%><br></div>

              </td>

            </tr>










          </tbody></table><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="700">

          <tbody>


               </tbody>

		</table>


			</td>

    </tr>

  </tbody>

</table>