										</tbody></table>
									</td>
								</tr>
							</tbody></table>
							<table cellpadding="0" cellspacing="0" border="0" class="m_-5034702742296479116m_289025743243731329message_footer_table" align="center" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%">
								<tbody><tr>
									<td style="padding:20px;color:#8b8b8b;text-align:center">
											<p style="margin:6px 0">Follow us on :</p>
											<a href="https://www.facebook.com/" style="text-decoration:none;width:34px;height:28px;display:inline-block" target="_blank" >
												<img src="https://ci5.googleusercontent.com/proxy/Nm9MMDZaLc4ulX1qqQswl6OvUOtZWZnW8IboiQo80o0LUeNr5-jN1XQmFn1XKVP0y3VY6gwsA88hPIFH7KlPCmcUJocvvviagx6eWgk=s0-d-e1-ft#https://storage.googleapis.com/tawk-images/facebook.png" alt="Facebook" title="Facebook" style="width:28px;margin:0px auto" class="CToWUd">
											</a>
											<a href="https://twitter.com" style="text-decoration:none;width:34px;height:28px;display:inline-block" target="_blank" >
												<img src="https://ci4.googleusercontent.com/proxy/6Lx10U0HRMjdAvmMJyCURIPFZgysTzr_GoVsphTCBxpXbJWpd_6uVinfjVEi3IMwG-tK3rnCRxKLGyPCcsS5i8wXaTpkAs1RGdHlNA=s0-d-e1-ft#https://storage.googleapis.com/tawk-images/twitter.png" alt="Twitter" title="Twitter" style="width:28px;margin:0px auto" class="CToWUd">
											</a>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
			</td>
		</tr>
	</tbody></table>