<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<p>MPESA response page</p>

<center><h1>Please do not refresh this page...</h1></center>


<% if(result){%>
	<% if(result.ResultCode==0){%>
	   <h1>Transaction complete successfully!!</h1>
	 <% }
	 else{ %>  
	   <h1>Oops! Transaction failed!!</h1>
	<% } %>

<% } %>



<a href="#">Back to Home</a>



</body>
</html>