<%- include('header') %>
<tr>
	<td colspan="3" style="padding:10px;text-align:center;vertical-align:top;width:100%">
		<u><b>Transaction Result</b></u>
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:right;vertical-align:top;width:40%">
		TxnId
	</td>
	<td style="padding:10px;vertical-align:top;width:2%">
		:
	</td>
	<td style="padding:10px;text-align:left;vertical-align:top;width:48%">
		<%=data.id %>
	</td>
</tr>

<tr>
	<td style="padding:10px;text-align:right;vertical-align:top;width:40%">
		Amount
	</td>
	<td style="padding:10px;vertical-align:top;width:2%">
		:
	</td>
	<td style="padding:10px;text-align:left;vertical-align:top;width:48%">
		<%=data.amount %>
	</td>
</tr>

<tr>
	<td style="padding:10px;text-align:right;vertical-align:top;width:40%">
		Status
	</td>
	<td style="padding:10px;vertical-align:top;width:2%">
		:
	</td>
	<td style="padding:10px;text-align:left;vertical-align:top;width:48%">
		<%=data.paymentStatus %>
	</td>
</tr>

<%- include('footer') %>