<%- include('header') %>
<tr>
	<td style="padding:10px;text-align:left;vertical-align:top;width:100%">
		<h3>Hi <span style="text-transform: capitalize;"><%=user.name %></span>,</h3>
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:left;vertical-align:top;width:100%">
		Thank you for registring at Beba Mzigo. Your account is created and must be activated. Click the link below to verify your account.
	</td>
</tr>
<tr>
	<td style="padding:10px;text-align:center;vertical-align:top;width:100%">
		<a href="<%=verifyHref %>">Verify</a>
	</td>
</tr>
<%- include('footer') %>